extends base

block content 

    div(class="container w-50")

        div(class="row")
            h1 <a href="/">Jake</a> / Contact 
        
        div(class="col-8 mt-3")

            //- form(id="contact-form", method="post", action="send", enctype="multipart/form-data")
            //-     div(class="mb-3")
            //-         div(class="row")
            //-             div(class="col-5")
            //-                 label(for="inputName" class="form-label") Name
            //-                 input(type="text" class="form-control" id="inputName" required)
            //-             div(class="col")
            //-                 label(for="inputEmail" class="form-label") Email Address
            //-                 input(type="email" class="form-control" id="inputEmail" required)

            //-     div(class="mb-3")
            //-         label(for="inputSubjext" class="form-label") Subject
            //-         input(type="text" class="form-control" id="inputSubject" required)

            //-     div(class="mb-3")
            //-         label(for="emailMessage" class="form-label") Message
            //-         textarea(class="form-control" id="emailMessage" rows=3 required)
            //-     div
            //-         button(type="submit" value="submit" class="btn btn-primary") Submit

            form(id="contact-form" method="POST" action="send" enctype="multipart/form-data")
                div(class="form-group mb-3")
                    div(class="row")
                        div(class="col-md-6")
                            input( placeholder="Name" id="name" name="name" type="text" class="form-control" required)
                        div(class="col-md-6")
                            input( placeholder="Email" id="email" name="email" type="email" class="form-control" aria-describedby="emailHelp" required)
                div(class="form-group mb-3")
                    input(placeholder="Subject" id="subject" name="subject" type="text" class="form-control" required)
                div(class="form-group mb-3")
                    textarea(placeholder="Message" id="message" name="message" class="form-control" rows="3" required)
                button(type="submit" value="submit" class="btn btn-primary") Submit




    script(src="/js/index.js")