extends base

block content

    div(class="container w-50")

        h1 Jake 
            | <a href="/projects">/ Projects </a>
            | <a href="/contact">/ Contact</a>
            | <a href="https://github.com/JakeJackson99" target="_blank">/ Github</a>
        
        div(class="row mt-3 skills")
            h5 Python • JavaScript • Node.js

        div(class="row mt-3 bio")
            p I am a Graduate Software Developer with an interest <i> mostly </i> in backend engineering.
            br

            p Currently, I am building applications using <code>Python</code> and <code>Flask</code>, but in an attempt to learn 
                | and understand <code>JavaScript</code>, this website has been built using <code>Node.js</code>.
            br

            p Going forth, I plan to extend my knowledge into frontend development, properly 
                | understanding <code>HTML</code> and <code>CSS</code> first, then transitioning into technoligies such as <code>React.js</code>.